
:root {
  
/* =====================================================
   DEFAULT LINE & BACKGROUND
   ===================================================== */
  --color-gray-line: #ccc;
  --color-gray-line-light: #ddd;
  --color-gray-bg: #f5f5f5;
  --color-dis: #666;

/* =====================================================
   SYSTEM COLOR
   ===================================================== */
  --color-dgr: #E43030;
  --color-warn: #F8910D;
  --color-suc: #00995E;
  --color-info: #2067D5;

  /* =====================================================
   DEFAULT THEME(PURPLE)
   ===================================================== */
  --color-primary: #6600BF;
  --color-secondary: #8A5CEA;
  --color-tertiary: #F6F2FF;
  --color-accent: #C0066B;
}

/* ----------------------- THEME ----------------------- */

/* =====================================================
   PURPLE THEME
   ===================================================== */
[data-theme="purple"] {
  --color-primary: #6600BF;
  --color-secondary: #8A5CEA;
  --color-tertiary: #F6F2FF;
  --color-accent: #C0066B;
}

/* =====================================================
   BLUE THEME
   ===================================================== */
[data-theme="blue"] {
  --color-primary: #2870FF;
  --color-secondary: #3694FF;
  --color-tertiary: #EEF8FF;
  --color-accent: #ED6B00;
}

/* =====================================================
   GREEN THEME
   ===================================================== */
[data-theme="green"] {
  --color-primary: #057734;
  --color-secondary: #06A146;
  --color-tertiary: #F0FFF6;
  --color-accent: #FFD900;
}

/* =====================================================
   NAVY THEME
   ===================================================== */
[data-theme="navy"] {
  --color-primary: #002454;
  --color-secondary: #0A3F85;
  --color-tertiary: #EFF6FF;
  --color-accent: #38B218;
}

/* =====================================================
   MINT THEME
   ===================================================== */
[data-theme="mint"] {
  --color-primary: #268F87;
  --color-secondary: #2FCFAF;
  --color-tertiary: #F3FAF9;
  --color-accent: #FFA552;

}

/* =====================================================
   RED THEME
   ===================================================== */
[data-theme="red"] {
  --color-primary: #C7007E;
  --color-secondary: #E93CAA;
  --color-tertiary: #FFEEEE;
  --color-accent: #420068;
}

/* =====================================================
   ORANGE THEME
   ===================================================== */
[data-theme="orange"] {
  --color-primary: #E56C01;
  --color-secondary: #FF973C;
  --color-tertiary: #FFF8F3;
  --color-accent: #003DAD;
}

/* =====================================================
   YELLOW THEME
   ===================================================== */
[data-theme="yellow"] {
  --color-primary: #F5A100;
  --color-secondary: #FFD25B;
  --color-tertiary: #FFFAEB;
  --color-accent: #013D59;
}
